html{
    font-size: 65%;
}
body{
    text-align: center;
    font-size: medium;
}
.container{
    text-align: center;
    font-size: medium;

}
.nav{
    font-size: large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.back{
    background-color:black;
}
.para{
    background-color:#000000;
    font-size: medium;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(255, 255, 255);

}
img{
    width: fit-content;
    height: fit-content;
    background-color: gray;
    
}
.info{
    margin-top: 20px;
}
.tribute{
    font-weight: bold;
    background-color:cornsilk;
    display: inline;
}